.App {
  font-family: 'League Gothic', sans-serif;
  margin-top: 4%;
}

h1{
  margin-left: 6%;
}
.Computer, .Multiplayer{
  margin-top: 10%;
  margin-left: 17%;
  margin-right: 17%;
  border-radius: 100%;
  height: 190px;
  width: 190px;
  border: none; 
  position: relative;
}

.name{
  background-color: #282c34;
  color: aliceblue;
  height: 2em;
  width: 40%;
  font-size: x-large;
}

.horizontal-slider {
  width: 100%;
  max-width: 500px;
  height: 10vh;
  margin: auto;
}

.example-thumb {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  background: #ffffff;
  border: 5px solid #3774ff;
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
}

.example-thumb.active {
  background-color: grey;
}

.example-track {
  position: relative;
  background: #000;
}

.example-track.example-track-0 {
  background: #83a9ff;
}

.horizontal-slider .example-track {
  top: 20px;
  height: 4px;
}

.horizontal-slider .example-thumb {
  top: 12px;
  width: 10px;
  outline: none;
  height: 10px;
  line-height: 38px;
}

.example-mark {
  width: 8px;
  height: 8px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
  margin: 0px calc(19px);
  bottom: calc(50% - 6px);
}
.example-mark.example-mark-active {
  border: 2px solid #00d4ff;
  background-color: rgb(255, 255, 255);
}
.example-mark.example-mark-completed {
  border: 2px solid rgb(255, 255, 255);
  background-color: #00d4ff;
} 
